[Desktop Entry]
Categories=Qt;KDE;Graphics;
Comment=Take any picture with your web cam
Exec=kamoso
GenericName=Picture Retriever
Icon=kamoso
MimeType=application/x-kamoso;
Name[en_GB]=Kamoso
Name=Kamoso
NoDisplay=false
OnlyShowIn=
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
