[Desktop Entry]
Categories=Qt;KDE;System;
Comment=Twin-Panel File Manager with root-privileges
Exec=krusader -caption "%c" %i
GenericName=File Manager - root-mode
Icon=krusader_root
Name[en_GB]=Krusader - root-mode
Name=Krusader - root-mode
NoDisplay=false
OnlyShowIn=KDE;
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DocPath=krusader/index.html
X-KDE-SubstituteUID=true
X-KDE-Username=root
